<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<body>

<div class="container-fluid" layout:fragment="content">
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Cash Out Requests</h5>
        </div>
    </div>
    <!-- /Title -->
    <div class="row">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">request details</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <table class="table table-responsive">
                        <tr>
                            <td>Request Id</td>
                            <td th:text="${cashOut.id}"></td>
                        </tr>
                        <tr>
                            <td>Customer Details</td>
                            <td>
                                <p th:text="${cashOut.wallet.managedUser.email}"></p>
                                <p th:text="${cashOut.wallet.managedUser.firstName} +' ' + ${cashOut.wallet.managedUser.lastName}"></p>
                                <p th:text="${cashOut.wallet.managedUser.phoneNumber}"></p>
                                <p th:text="${cashOut.wallet.managedUser.displayName}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>Request Date</td>
                            <td>
                                <p th:text="${cashOut.requestDate}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>Currency</td>
                            <td>
                                <p th:text="${cashOut.wallet.currency.type}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>
                                <span id="amount-hide" class="hide" th:text="${cashOut.amount}"></span>
                                <p id="amount-show"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>Account Name</td>
                            <td>
                                <p th:text="${cashOut.accountName}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>Account Number</td>
                            <td>
                                <p th:text="${cashOut.accountNumber}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>Bank Details</td>
                            <td>
                                <p th:text="${bank.bankName}"></p>
                                <p th:text="${bank.bankCode}"></p>
                                <p th:text="${bank.countryCode}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                <p th:text="${cashOut.cashOutStatus}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>Narration/Remarks</td>
                            <td>
                                <p th:text="${cashOut.adminNarration}"></p>
                            </td>
                        </tr>
                    </table>

                    <div th:if="${cashOut.cashOutStatus == T(com.plethub.paaro.core.appservice.enums.CashOutStatus).PENDING}">

                        <form method="post" class="form-horizontal" th:action="@{/app/cashout/update}"
                              th:object="${cashOutRequest}">

                            <div class="col-sm-12">
                                <input type="hidden" class="form-control" th:field="*{cashOutLogId}">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Narration : </label>
                                    <div class="col-sm-9">
                                        <textarea required class="form-control" th:field="*{narration}"></textarea>
                                    </div>
                                </div>
                                <div class="mt-5 ml-20">
                                    <button class="btn btn-white" type="reset" id="cancel">Cancel</button>
                                    <button class="btn btn-danger" name="action" value="Decline" type="submit">
                                        Decline
                                    </button>
                                    <button class="btn btn-success" name="action" value="Approve" type="submit">
                                        Verify
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block layout:fragment="scripts">
    <script>
        $(document).ready(function () {
            var available = $("#amount-hide").text();
            $("#amount-show").text(accounting.formatMoney(available, ''));
        });
    </script>
</th:block>


</body>
</html>