<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<body>

<div class="container-fluid" layout:fragment="content">

    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Currency Management</h5>
        </div>
    </div>
    <!-- /Title -->

    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Add Currecy</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="form-wrap">
                            <form class="form-horizontal" method="post" action="/app/currency" th:object="${currency}">

                                <div class="form-group">
                                    <label class="control-label mb-10 col-sm-3">Currency Code:</label>
                                    <div class="col-sm-9">
                                        <input type="text" th:field="*{type}" class="form-control"
                                               placeholder="Enter Currency Code">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label mb-10 col-sm-3">Currency Description:</label>
                                    <div class="col-sm-9">
                                        <input type="text" th:field="*{description}" class="form-control"
                                               placeholder="Enter Currency Description">
                                    </div>
                                </div>


                                <div class="form-group mb-0">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-success btn-anim"><i
                                                class="icon-rocket"></i><span class="btn-text">submit</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->

</div>
<th:block layout:fragment="scripts">
</th:block>


</body>
</html>