<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<body>

<div class="container-fluid" layout:fragment="content">

    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Currency Management</h5>
        </div>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">all currencies</h6>
                    </div>
                    <div class="pull-right">
                        <a href="/app/currency/new" class="pull-left btn btn-success btn-xs mr-15">Add New</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <!--<div class="form-group mb-0">-->
                        <!--<div class="input-group mb-15"> <span class="input-group-btn">-->
                        <!--<button type="button" class="btn  btn-success"><i class="fa fa-search"></i></button>-->
                        <!--</span>-->
                        <!--<input type="text" id="example-input1-group4" name="example-input1-group4" class="form-control" placeholder="Search">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<hr class="light-grey-hr"/>-->
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table id="bank" class="table table-hover display  pb-30" >
                                    <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Action(s)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="curr : ${currencies}">
                                        <td th:text="${curr.type}"></td>
                                        <td th:text="${curr.description}"></td>
                                        <td> <i th:if="${curr.disabled == true}" class='fa fa-ban  dt-body-center' style='color:red;display:block; text-align:center; margin:0 auto;'></i>
                                            <i th:if="${curr.disabled == false}" class='fa fa-check dt-body-center'  data-toggle='tooltip' style='color:green;display:block; text-align:center; margin:0 auto;' ></i></td>
                                        <td>
                                            <a th:if="${curr.disabled == true}" th:href='@{/app/currency/{type}/enable(type=${curr.type})}' class='btn btn-xs btn-success' data-toggle='tooltip' data-original-title='Enable'> Enable</a>
                                            <a th:if="${curr.disabled == false}" th:href='@{/app/currency/{type}/disable(type=${curr.type})}' class='btn btn-xs btn-danger' data-toggle='tooltip' data-original-title='Disable'> Disable </a>
                                            <a th:href='@{/app/currency/{type}/view(type=${curr.type})}' class='btn btn-xs btn-default' data-toggle='tooltip' data-original-title='View'> View </i></a>
                                        </td>

                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Type</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Action(s)</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->



</div>
<th:block layout:fragment="scripts">

    <!-- Page-Level Scripts -->
    <script>
        /*<![CDATA[*/
        $(document).ready(function() {
            var table = $('#bank').DataTable({
                select:false,
                responsive: true,
                "searching": false,
                "paging": true,
                "processing" : true});

        });
        /*]]>*/
    </script>
</th:block>


</body>
</html>