<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <script th:src="@{~/vendors/bower_components/jquery/dist/jquery.min.js}"></script>
</head>
<body>

<div class="container-fluid" layout:fragment="content">

    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Financial Institutions</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li class="active">Dashboard</li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">all banks</h6>
                    </div>
                    <div class="pull-right">
                        <a href="/app/bank/new" class="pull-left btn btn-success btn-xs mr-15">Add New</a>
                        <a href="/app/bank/all" class="pull-left btn btn-gold btn-xs mr-15">view all</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <!--<div class="form-group mb-0">-->
                            <!--<div class="input-group mb-15"> <span class="input-group-btn">-->
														<!--<button type="button" class="btn  btn-success"><i class="fa fa-search"></i></button>-->
														<!--</span>-->
                                <!--<input type="text" id="example-input1-group4" name="example-input1-group4" class="form-control" placeholder="Search">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr class="light-grey-hr"/>-->
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table id="bank" class="table table-hover display  pb-30" >
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Country</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Action(s)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Country</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Action(s)</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->



</div>
<th:block layout:fragment="scripts">

    <!-- Page-Level Scripts -->
    <script>
        /*<![CDATA[*/
        $(document).ready(function() {
            var table = $('#bank').DataTable({
                select:false,
                responsive: true,
                "lengthMenu" : [ [ 10, 20, 30, -1],	[ 10, 20, 30, "All" ] ],
                "pagingType" : "simple_numbers",
                "searching": false,
                "paging": true,
                "processing" : true,
                "serverSide" : true,
                "ajax": "/app/bank/all/all",
                "dom": 'T<"clear">frtlp',
                "rowId": "id",
                "columns": [
                    { "data": "bankName" },
                    { "data": "bankCode" },
                    { "data": "countryCode" },
                    { "data": "bankType" },
                    {"data": "disabled"},
                    {"data": "id"}
                ],
                "columnDefs": [{
                    "targets": 4,
                    "data": "disabled",
                    "render": function (data, type, full, meta) {
                        if (type === 'display') {
                            if (data == true) {
                                return "<i class='fa fa-ban  dt-body-center' style='color:red;display:block; text-align:center; margin:0 auto;'></i>";
                            } else {
                                return "<i class='fa fa-check dt-body-center'  data-toggle='tooltip' style='color:green;display:block; text-align:center; margin:0 auto;' ></i>";
                            }
                        }
                        return data;
                    }
                },
                    {
                    "targets": 5,
                    "data": "id",
                    "render": function (data, type, full, meta) {
                        if (type === 'display') {
                            return "<a href='/app/bank/"+data+"/edit' class='mr-25' data-toggle='tooltip' data-original-title='Edit'> <i class='fa fa-pencil text-inverse m-r-10'></i> </a>";
                        }
                        return data;
                    }}
                    ]
            });

        });

        /*]]>*/
    </script>
</th:block>
<script th:src="@{~/vendors/bower_components/jquery/dist/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{~/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{~/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js}"></script>

<!-- Switchery JavaScript -->
<script th:src="@{~/vendors/bower_components/switchery/dist/switchery.min.js}"></script>

<!-- Sweet-Alert  -->
<script th:src="@{~/vendors/bower_components/sweetalert/dist/sweetalert.min.js}"></script>

<!-- Slimscroll JavaScript -->
<script th:src="@{~/js/jquery.slimscroll.js}"></script>

<!-- Init JavaScript -->
<script th:src="@{~/js/jquery.spring-friendly.min.js}"></script>
<script th:src="@{~/js/init.js}"></script>


</body>
</html>