<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<body>

<div class="container-fluid" layout:fragment="content">

    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Audit</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/app/dashboard">Dashboard</a></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Logs</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <!--<div class="form-group mb-0">-->
                        <!--<div class="input-group mb-15"> <span class="input-group-btn">-->
                        <!--<button type="button" class="btn  btn-success"><i class="fa fa-search"></i></button>-->
                        <!--</span>-->
                        <!--<input type="text" id="example-input1-group4" name="example-input1-group4" class="form-control" placeholder="Search">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<hr class="light-grey-hr"/>-->
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table id="audit" class="table table-hover display  pb-30" >
                                    <thead>
                                    <tr>
                                        <th>Date performed</th>
                                        <th>Action</th>
                                        <th>Performed By</th>
                                        <th>IP Address</th>
                                        <th>Module</th>
                                        <th>Action(s)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Date performed</th>
                                        <th>Action</th>
                                        <th>Performed By</th>
                                        <th>IP Address</th>
                                        <th>Module</th>
                                        <th>Action(s)</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->



</div>
<th:block layout:fragment="scripts">

    <!-- Page-Level Scripts -->
    <script>
        /*<![CDATA[*/
        $(document).ready(function() {
            var table = $('#audit').DataTable({
                select:false,
                responsive: true,
                "lengthMenu" : [ [ 10, 20, 30, -1],	[ 10, 20, 30, "All" ] ],
                "pagingType" : "simple_numbers",
                "searching": false,
                "paging": true,
                "processing" : true,
                "serverSide" : true,
                "ajax": "/app/audit/all",
                "dom": 'T<"clear">frtlp',
                "rowId": "id",
                "columns": [
                    { "data": "datePerformed"},
                    { "data": "action" },
                    { "data": "performedBy" },
                    { "data": "ipAddress" },
                    { "data": "module" },
                    { "data": "id"}
                ],
                "columnDefs": [
                    {
                        "targets": 5,
                        "data": "id",
                        "render": function (data, type, full, meta) {
                            if (type === 'display') {
                                return "<a href='/app/audit/" + data + "/detail' class='mr-25' data-toggle='tooltip' data-original-title='Edit'> <i class='fa fa-eye text-inverse m-r-10'></i> </a>";
                            }
                            return data;
                        }}
                ]
            });

        });

        /*]]>*/
    </script>
</th:block>


</body>
</html>